.gradle
/local.properties
build

.idea
classes
*.iml
gen-external-apklibs
out/

.settings
.classpath
.project
gen
bin

target

test_servers
reports.html
screenshot_*.png

**/project.properties
*.sqlite
.DS_Store
/device-*.png
*.apk

sonar-branch

.scannerwork